html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url("../img/about/about-us.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 17px;
}

#container1{
    padding: 5%;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 3%;
    text-shadow: 0 0 10px #fff, 0 0 20px#d744eb, 0 0 30px #d744eb;
}

input, select{
    margin-bottom: 4%;
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #111111;
	background-image: url("../img/header_bg.jpg");
}

.header__top {
	background: #111111;
	padding: 10px 0;
}

.header__top__left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header__top__right {
	text-align: right;
}

.header__top__links {
	display: inline-block;
	margin-right: 25px;
}

.header__top__links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 28px;
	display: inline-block;
}

.header__top__links a:last-child {
	margin-right: 0;
}

.header__top__hover {
	display: inline-block;
	position: relative;
}

.header__top__hover:hover ul {
	top: 24px;
	opacity: 1;
	visibility: visible;
}

.header__top__hover span {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.header__top__hover span i {
	font-size: 20px;
	position: relative;
	top: 3px;
	right: 2px;
}

.header__top__hover ul {
	background: #ffffff;
	display: inline-block;
	padding: 2px 0;
	position: absolute;
	left: 0;
	top: 44px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__hover ul li {
	list-style: none;
	font-size: 13px;
	color: #111111;
	padding: 2px 15px;
	cursor: pointer;
}

.header__logo {
    padding: 30px 0;
}

.header__logo a {
	display: inline-block;
}
.header__logo img {
	max-width: 60%;
}

.header__menu {
	text-align: center;
	padding: 80px 0 25px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-left: 30px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 25px;
	color: #ffffff;
	display: block;
	font-weight: 600;
	position: relative;
	padding: 3px 0;
	text-shadow: 0 0 10px #fff, 0 0 20px#d744eb, 0 0 30px #d744eb;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e53637;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__nav__option {
	text-align: right;
	padding: 80px 0;
	color: #fff;
}

.header__nav__option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
    color: white;
}

.header__nav__option a:hover {
	display: inline-block;
	margin-right: 26px;
	position: relative;
    color: white;
}

.header__nav__option a span {
	color: #0d0d0d;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 8px;
}

.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}


.editbrg p{
	color: white;
}

.editbrg{
	color: white;
}

.search{
	margin-top: 1%;
}

.editbrg1{
	padding: 2% 2% 2% 35%;
	background-color: rgba(0, 0, 0, 0.8);
}

#kat{
	margin-top: 2%;
}

@media only screen and (max-width: 767px) {
	.editbrg1{
		padding: 5%;
		background-color: rgba(0, 0, 0, 0.8);
	}
}