.nav-link:hover{
    color: purple;
}
.btg{
    color:red;
}

.nav-link{
    color: purple;
}

.gambar{
    width: 130px;
    height: 130px;
    border: 1px solid gray;
    margin-bottom: 10%;
    background-image: url("../img/profil/member.png");
    background-size: cover;
}

h2{
    color: rgb(223, 35, 223);
}
@media only screen and (max-width: 767px) {
    h2{
        color: rgb(223, 35, 223);
        margin-top: 10%;
    }
}

.btnSave{
    background-color: rgb(223, 35, 223);
    color: white;
    width: 100px;
    margin-top: 2%;
}
.btnChange{
    background-color: rgb(223, 35, 223);
    color: white;
    width: 200px;
    margin-left: 2%;
    margin-top: 2%;
}
